params{
    aligner = 'bowtie2' //star or bwa, bowtie2, mapsplice
    circall = 'find_circ' //circexplorer2 or ciri, find_circ
    annotationfile = "/home/wqj/database/circleTest/1.genome/gencode.v25.annotation.chrX.gtf.GenePred.ref.txt"
    genomefile = "/home/wqj/database/circleTest/1.genome/chrX.fa"
    gtffile = "/home/wqj/database/circleTest/1.genome/gencode.v25.annotation.chrX.gtf"
    reads = "/home/wqj/database/test/*{1,2}.fq.gz"
    starindex = '/home/wqj/test/starindex'
    segindex = "/home/wqj/test/segindex/chrX.idx"
    outdir = '/home/wqj/test/results'
    ciridir = '/home/wqj/tools/CIRI/bin/CIRI_v2.0.6'
    find_circdir = '/home/wqj/tools/find_circ'
    mapsdir = '/home/wqj/miniconda3/envs/tools_in_python3/bin'
    refdir = '/home/wqj/database/circleTest/1.genome'
    qctools = 'fastp'
    condadir = '/home/wqj/miniconda3/envs/tools_in_python3'
    conda2dir = '/home/wqj/miniconda3/envs/tools_in_python2'
}

manifest {
    mainScript = 'main.nf'
}

