params{
    aligner = 'bwa' //or bwa, bowtie2, mapsplice
    circall = 'ciri' //or ciri, find_circ
    annotationfile = "/home/wqj/database/circleTest/1.genome/gencode.v25.annotation.chrX.gtf.GenePred.ref.txt"
    genomefile = "/home/wqj/database/circleTest/1.genome/chrX.fa"
    gtffile = "/home/wqj/database/circleTest/1.genome/gencode.v25.annotation.chrX.gtf"
    reads = "/home/wqj/database/test/*{1,2}.fq.gz"
    starindex = '/home/wqj/test/starindex'
    outdir = '/home/wqj/test/results'
    ciridir = '/home/wqj/tools/CIRI/bin/CIRI_v2.0.6'
    qctools = 'fastp'
}

manifest {
    mainScript = 'main.nf'
}
