params{
//the necessary reference
  annotationfile = "Genome/hg38_ref_chr2.txt" // for using circexplorer2, can be obtained from 
  genomefile = "Genome/chr2.txt"
  faifile = "Genome/chf2.fa.fai"
  gtffile = "Genome/gencode_chr2.v25.annotation.gtf"
  mRNA = ""

// index files for each software 
  starindex = "Genome/starindex"
  segindex = "Genome"
  bowtie2index = "Genome"
  bowtieindex = "Genome"
  bwaindex = "Genome"
}

