params{

 

//the necessary reference
 
  annotationfile = "/home/yeying/database/human/hg38/Gencode/hg38_gencode.txt" // for using circexplorer2, can be obtained from 
  genomefile = "/home/Public/Database/human/hg38/Gencode/genome.fa"
  faifile = "/home/Public/Database/human/hg38/Gencode/genome.fa.fai"
  gtffile = "/home/Public/Database/human/hg38/Gencode/gencode.v25.annotation.gtf"
  mRNA = ""

// index files for each software 
  refmapsplice = "/home/yeying/database/human/hg38/Gencode/mapsplice"
  starindex = "/home/Public/Database/human/hg38/Gencode/RSEM_STAR_Index"// path and prefix 
  
  bowtie2index = "/home/yeying/database/human/hg38/node1/bowtie2_index/hg38"// path and prefix
  bowtieindex = "/home/yeying/database/human/hg38/node1/bowtie_index/hg38_bowtie" // path and prefix
  bwaindex = "/home/yeying/database/human/hg38/node1/bwa_index/hg38_p7" //path and prefix

  segindex = "/home/yeying/database/human/hg38/Gencode/genome.idx" // path only 
}

process.executor="pbs"