params{

 //reads files

  // design files and compare file 
  designfile="design.file"
  comparefile="compare.txt"

currentPath="/data/zyq/data/circRNA/gc_cptac/"
 reads =  "/data/zyq/data/circRNA/test/1.data/*_{1,2}.fastq.gz"
//the necessary reference
  refmapsplice = false
  annotationfile = "/data/zyq/database/human/hg38/UCSC/hg38_kg.txt" // for using circexplorer2, can be obtained from 
  genomefile = "/data/zyq/database/human/hg38/UCSC/hg38.fa"
  faifile = "/data/zyq/database/human/hg38/UCSC/hg38.fa.fai"
  gtffile = "/data/zyq/database/human/hg38/UCSC/hg38.knownGene.gtf"
  mRNA = ""

// index files for each software 
  starindex = "/data/zyq/database/human/hg38/UCSC/STAR_index"// path and prefix 
  segindex = "${currentPath}Genome/genome.idx" // path only 
  bowtie2index = "/data/zyq/database/human/hg38/UCSC/bowtie2_index/hg38_bt2" // path and prefix 
  bowtieindex = "/data/zyq/database/human/hg38/UCSC/bowtie_index/hg38_bt" // path and prefix
  bwaindex = "/data/zyq/database/human/hg38/UCSC/bwa_index/hg38" //path and prefix
  hisat2_index = "/data/zyq/database/human/hg38/UCSC/hisat2_index/hg38" //path and prefix
}
