params{

 //reads files
  reads = "Fastq/*_{1,2}.fastq.gz"

  // design files and compare file 
  designfile="design.file"
  comparefile="compare.txt"

currentPath="/data2/zhaoqi/circlePipetest/"
//the necessary reference
  refmapsplice = false
  annotationfile = "${currentPath}Genome/hg19_refseq.txt" // for using circexplorer2, can be obtained from 
  genomefile = "${currentPath}Genome/hg19_chr2.fa"
  faifile = "${currentPath}Genome/hg19_chr2.fa.fai"
  gtffile = "${currentPath}Genome/hg19_chr2.gencode.annotation.gtf"
  mRNA = ""

// index files for each software 
  starindex = "${currentPath}Genome/hg19_chr2_starindex"// path and prefix 
  segindex = "${currentPath}Genome/hg19_chr2" // path only 
  bowtie2index = "${currentPath}Genome/hg19_chr2" // path and prefix 
  bowtieindex = "${currentPath}Genome/hg19_chr2" // path and prefix
  bwaindex = "${currentPath}Genome/hg19_chr2" //path and prefix
  //skipDE = false
}


