params{

 //reads files
  reads = "Fastq/*_{1,2}.fastq.gz"

  // design files and compare file 
  designfile="design.file"
  comparefile="compare.txt"

//the necessary reference
  refmapsplice = "/home/yeying/zhaoqi/t_vs_n/Genome"
  annotationfile = "/home/yeying/zhaoqi/t_vs_n/Genome/hg38_ref_chr2.txt" // for using circexplorer2, can be obtained from 
  genomefile = "/home/yeying/zhaoqi/t_vs_n/Genome/genome.fa"
  faifile = "/home/yeying/zhaoqi/t_vs_n/Genome/genome.fa.fai"
  gtffile = "/home/yeying/zhaoqi/t_vs_n/Genome/gencode_chr2.v25.annotation.gtf"
  mRNA = ""

// index files for each software 
  starindex = "/home/yeying/zhaoqi/t_vs_n/Genome/starindex"// path and prefix 
  segindex = "/home/yeying/zhaoqi/t_vs_n/Genome/genome.idx" // path only 
  bowtie2index = "/home/yeying/zhaoqi/t_vs_n/Genome/genome" // path and prefix 
  bowtieindex = "/home/yeying/zhaoqi/t_vs_n/Genome/genome" // path and prefix
  bwaindex = "/home/yeying/zhaoqi/t_vs_n/Genome/genome.fa" //path and prefix
}

process.executor="pbs"