params{

 //reads files
  reads = "Fastq/*_{1,2}.fq.gz"

  // design files and compare file 
  designfile="design.file"
  comparefile="compare.txt"

currentPath="/home/zhaoqi/test/"

//the necessary reference
  refmapsplice = false
  annotationfile = "${params.currentPath}Genome/hg19_chr2_refseq.txt" // for using circexplorer2, can be obtained from 
  genomefile = "${params.currentPath}Genome/hg19_chr2.fa"
  faifile = "${params.currentPath}Genome/hg19_chr2.fa.fai"
  gtffile = "${params.currentPath}Genome/hg19_chr2.gencode.annotation.gtf"
  mRNA = ""

// index files for each software 
  starindex = "${params.currentPath}Genome/hg19_chr2_starindex"// path and prefix 
  segindex = "${params.currentPath}Genome/hg19_chr2" // path only 
  hisat2_index = "${params.currentPath}Genome/hg19_chr2_hisat2_index/hg19_chr2"
  bowtie2index = "${params.currentPath}Genome/hg19_chr2" // path and prefix 
  bowtieindex = "${params.currentPath}Genome/hg19_chr2" // path and prefix
  bwaindex = "${params.currentPath}Genome/hg19_chr2" //path and prefix
  skipDE = false

}


