params{

 

//the necessary reference
 
  annotationfile = "/data1/database/human/hg38/hg38_gencode.txt" // for using circexplorer2, can be obtained from 
  genomefile = "/data1/database/human/hg38/genome.fa"
  faifile = "/data1/database/human/hg38/genome.fa.fai"
  gtffile = "/data1/database/human/hg38/GRCh38.gtf"
  mRNA = ""

// index files for each software 
  refmapsplice = "/data1/database/human/hg38/mapsplice"
  starindex = "/data1/database/human/hg38/RSEM_STAR_Index"// path and prefix 
  
  bowtie2index = "/data1/database/human/hg38/bowtie2_index/hg38"// path and prefix
  bowtieindex = "/data1/database/human/hg38/bowtie_index/hg38_bowtie" // path and prefix
  bwaindex = "/data1/database/human/hg38/bwa_index/hg38_p7" //path and prefix
  hisat2_index = "/data1/database/human/hg38/hisat2_index/hg38"

  segindex = "/data1/database/human/hg38/genome.idx" // path only 
  
  designfile="design.file"
  comparefile="compare.txt"

}
